/node_modules
/public/css
/public/fonts/
/public/js
/public/images
/public/mix-manifest.json
/public/hot
/public/storage
/storage/*.key
/storage/app/public
/vendor
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.idea
/cypress/videos
/cypress/screenshots
.vagrant/
